*/.idea/
/source/python/.idea/
/.idea/vcs.xml
/.idea/.gitignore
/.idea/AlgoFromScratch.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
